.caption{
  background: url("/img/banner-bg.jpg") no-repeat top right;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 min-height: 500px;

 color: #fff;
 text-shadow: 1px 1px 5px #000;
 padding: 100px;

}

.caption a{
  margin-top: 10px;
}
